header,
main,
section {
	padding: 70px 0;
}

html, body {
	height: 100%;
}

main {
	min-height: calc(100% - 55px - 213px - 119px);
}

h1 {
	font-size: 3rem;
}

.fixed-top {
	position: sticky;
}

.form {
	& * {
		font-size: 1rem;
	}

	& label {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 20px;

		&.checkbox {
			flex-direction: row;
			align-items: center;

			& [type=checkbox] {
				margin-right: 10px;
			}
		}

		
	}

	& select,
	& [type=text],
	& [type=email] {
		width: 100%;
		margin-top: 5px;	
	}
}

#message {
	font-size: 24px;
	font-weight: 600;
	display: none;

	&.ok {
		color: green;
	}

	&.error {
		color: red;
	}
}

.return {
	font-size: 18px;

	& svg {
		width: 15px;
		height: 15px;
		margin-right: 10px;
		margin-bottom: 3px;
	}
}

.select-checkbox {
	text-align: center;
}

.table th, .table td {
	vertical-align: middle;
}

.filter-heading {
	& h3 {
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
}

.filter-block {
	margin-bottom: 20px;

	& h6 {
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	& label {
		display: flex;
		align-items: center;

		& input[type=checkbox] {
			margin-right: 10px;
		}

		& span {
			font-size: 1rem;
		}
	}
}

#campaignForm {
	margin-bottom: 100px;

}

.rec-group {
	margin-bottom: 20px;

	&__heading {
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		& a {
			display: block;
			margin-left: 10px;
		}

		& h4 {
			margin-bottom: 0;
		}
	}

	& input[type=checkbox] {
		margin-right: 5px;
	}
}

.rec-list {
	display: none;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;

	&.active {
		display: flex;
	}

	&__item {
		margin-right: 15px;

		& a {
			font-size: 14px;
		}
	}
}

.nav-item {
	& svg {
		width: 14px;
		height: 14px;
		margin-right: 5px;
		color: inherit;

	} 
}







