header {
  padding: 100px 0;
}

main {
	padding: 100px 0;
}

section {
  padding: 100px 0;
}

.fixed-top {
	position: sticky;
}

.form label {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form select {
	width: 100%;
}
