header {
  padding: 100px 0;
}

main {
  padding: 100px 0;
}

section {
  padding: 100px 0;
}

.fixed-top {
  position: -webkit-sticky;
  position: sticky;
}

.form label {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
}

.form select {
  width: 100%;
}

